{{#if success}}
    <div class="alert alert-success col-md-10" role="alert">Success:&nbsp;{{success}}</div>
{{/if}}
{{#if error}}
    <div class="alert alert-warning col-md-10" role="alert">Warning:&nbsp;{{error}}</div>
{{/if}}