<form class="form-horizontal" method="post" action="/users/login" role="form">
    <div class="form-group">
        <lab class="col-md-2 control-label">UserName</lab>
        <div class="col-md-5"><input class="form-control" type="text" name="username"
                                     placeholder="Please Enter Your username"/></div>
    </div>
    <div class="form-group">
        <lab class="col-md-2 control-label">Password</lab>
        <div class="col-md-5"><input class="form-control" type="password" name="password"/></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-8">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
    {{#if error}}
        <div class="alert alert-danger col-md-10" role="alert">Error:&nbsp;{{error}}</div>
    {{/if}}
</form>